@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;900&family=PT+Sans&family=Secular+One&display=swap');

/* font-family: 'Fira Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Secular One', sans-serif; */


body {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

.container {
  min-width: 192px;
  margin: 0 auto;
}